.notification {
  border-radius: 4px;
  padding: 10px 10px;
  display: flex;
  color: #fff;
  width: 100%;
}

.notification--success {
  background-color: var(--primary-color);
}

.notification--error {
  background-color: var(--danger-color);
}

.notification--info {
  background-color: var(--dark-color);
}

.notification--hidden {
  visibility: hidden;
}

.notification__btn {
  background: none;
  border: none;
  margin-left: 15px;
  color: #fdfdfd;
  opacity: 0.8;
  cursor: pointer;
}