.button {
  border: 0;
  background-color: var(--light-color);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
  display: flex;
  justify-content: center;
}

.button:hover,
.button:focus {
  background-color: var(--light-color-variant);
}

.button:focus {
  outline: 1.5px solid var(--dark-color);
}

.button:active {
  outline: none;
}

.button--full-width {
  width: 100%;
}

.button--thick {
  padding: 15px 20px;
}

.button--primary {
  background-color: var(--primary-color);
}

.button--primary:hover,
.button--primary:focus {
  background-color: var(--primary-color-variant);
}

.button--login {
  background-color: #386ed1;
}

.button--login:hover,
.button--login:focus {
  background-color: #2258BD;
}