.restaurant-card {
  background: var(--box-color);
  /* box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2); */
  border-radius: 100px 10px;
  width: 325px;
  padding: 16px;
  padding-bottom: 0;
  position: relative;
  list-style: none;
  z-index: 2;
  opacity: 0;
  animation: appearCard 0.8s forwards;
}

.restaurant-card--float {
  position: absolute;
  right: 70px;
  bottom: 20px;
  z-index: 2;
  width: 325px;
  max-width: calc(100% - 40px);
  opacity: 1;
  animation: none;
}

.restaurant-card--invisible {
  display: none;
}

.restaurant-card__config {
  position: absolute;
  right: 13px;
  top: 10px;
  background-color: transparent;
  cursor: pointer;
}

.restaurant-card__menu {
  visibility: hidden;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  left: calc(100% - 13px);
  top: 10px;
  z-index: 2;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

@media(max-width: 1000px) {
  .restaurant-card__menu {
    left: auto;
    right: 30px;
  }

  .restaurant-card--float {
    bottom: 90px;
    right: 20px;
  }
}

.restaurant-card__menu-item {
  font-size: 14px;
  list-style: none;
  color: var(--dark-color);
  cursor:pointer;
}

.restaurant-card__menu-item + .restaurant-card__menu-item {
  margin-top: 8px;
}

.restaurant-card__header {
  display: flex;
  align-items: center;
}

.restaurant-card__picture  {
  width: 80px;
  height: 72px;
  border-radius: 5px 35px;
  margin-right: 10px;
  position: relative;
  top: -10px;
  border: 2px solid var(--dark-color);
}

.restaurant-card__picture--icon {
  background: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vegan .restaurant-card__picture--icon {
  background: var(--primary-color)
}

.vegetarian .restaurant-card__picture--icon {
  background: var(--secondary-color)
}

.restaurant-card .icon--leaf {
  height: 25px;
  width: 25px;
}

.restaurant-card__name {
  display: block;
  font-size: 16px;
  color: var(--dark-color);
}

.restaurant-card__foods {
  font-size: 13px;
  color: var(--dark-color);
  margin-top: 2px;
}

.restaurant-card__body {
  display: flex;
  margin-bottom: 20px;
}

.restaurant-card__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80px;
  margin-top: 5px;
  margin-right: 10px;
}

.restaurant-card__link {
  background-color: var(--dark-color);
  height: 25px;
  width: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.restaurant-card__link:hover,
.restaurant-card__link:focus {
  background-color: var(--primary-color-variant);
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
  inset 1px 1px 2px rgba(255, 255, 255, 0.2);
}

.restaurant-card__link:first-of-type + .restaurant-card__link {
  margin-left: 8px;
}

.restaurant-card__link:nth-child(3) {
  margin-top: 5px;
}
 
.restaurant-card__action-info {
  color: var(--dark-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.restaurant-card__action-info + .restaurant-card__action-info {
  margin-top: 10px;
}

.restaurant-card__action-info:focus-within {
  outline: 1.5px solid var(--dark-color);
}

.restaurant-card__action-info:active {
  outline: none;
}

.restaurant-card__like-btn {
  background: none;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

@keyframes appearCard {
  0% {
    top: 50px;
    opacity: 0.4;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.restaurant-card:nth-child(2) {
  animation-delay: 0.2s;
}

.restaurant-card:nth-child(3) {
  animation-delay: 0.4s;
}

.restaurant-card:nth-child(4) {
  animation-delay: 0.6s;
}

.restaurant-card:nth-child(5) {
  animation-delay: 0.8s;
}

.restaurant-card:nth-child(6) {
  animation-delay: 1s;
}

.restaurant-card:nth-child(n+7) {
  animation-delay: 1.2s;
}

.restaurant-card__option {
  position: absolute;
  height: 100px;
  width: 100px;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 40px;
  mask-image: radial-gradient(circle at top left, transparent 0, transparent 100px, black 41px);
}

.restaurant-card__option--both {
  background-image: linear-gradient(to top right, var(--primary-color) 0%, var(--primary-color) 50%, 
    var(--secondary-color) 50%, var(--secondary-color) 100%)
}

.restaurant-card__option-vegan {
  background-color: var(--primary-color);
}

.restaurant-card__option--vegetarian {
  background-color: var(--secondary-color);
}

.restaurant-card__exclusive {
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: rotate(-45deg);
  color: var(--dark-color);
}


/* General */

.vegan header .icon-box {
  background: var(--primary-color);
}

.vegan {
  border-color: var(--primary-color);
}

/* .vegan a:hover,
.vegan a:focus,
.vegan footer {
  background-color: var(--primary-color);
} */

.vegetarian header .icon-box {
  background: var(--secondary-color);
}

.vegetarian {
  border-color: var(--secondary-color);
}

/* .vegetarian a:hover,
.vegetarian a:focus,
.vegetarian footer {
  background-color: var(--secondary-color);
} */