.denunciation-form__form {
  width: 100%;
}

.denunciation-form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--dark-color);
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.denunciation-form label {
  margin-bottom: 5px;
}

#comment {
  padding: 5px 8px;
  border: 1px solid rgba(var(--dark-rgb), 0.5);
  line-height: 140%;
  border-radius: 4px;
  color: var(--dark-color);
  font-family: 'Roboto', sans-serif;
  resize: none;
  background-color: transparent;
}

#comment:focus {
  box-shadow: 0 0 0 2px rgba(var(--dark-rgb), 0.8);
  transition: 0.5s;
}

.denunciation-form__done {
  color: var(--dark-color);
  line-height: 180%;
}
