.ask-for-location__message {
  color: var(--dark-color);
  line-height: 180%;
  margin-bottom: 20px;
}

.ask-for-location__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ask-for-location__actions > * + * {
  margin-left: 8px;
}
