@import url('https://fonts.googleapis.com/css?family=Atma|Roboto:400,700&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #28bd6b;
  --primary-rgb: 40,189,107;
  --primary-color-variant: #1ead5f;
  --secondary-color: #00ADFF;
  --box-color: #C8D66B;
  --light-color: #99AEBB;
  --light-color-variant: #84929b;
  --dark-color: #025700;
  --dark-rgb: 2,87,0;
  --danger-color: rgb(216, 125, 125);
  --danger-color-variant: rgb(235, 101, 101);
}

html, body, #root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  /* background-image: url('../img/floripa-map.jpg'); */
  /* background-size: cover;
  background-position: 50% 50%; */
  filter: blur(3px);
  z-index: -1;
}

/* @media(max-width: 1000px) {
  body::before {
    background-image: url('../img/floripa-map-960.jpg');
  }
} */

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F2FCF488;
  z-index: -1;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}

.icon-box {
  background: var(--light-color);
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vegan .icon-box, .icon-box--vegan {
  background: var(--primary-color);
}

.vegetarian .icon-box, .icon-box--vegetarian {
  background: var(--secondary-color);
}