@import url('https://fonts.googleapis.com/css?family=Atma|Roboto:400,700&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #28bd6b;
  --secondary-color: #F5B25F;
  /* --secondary-color: #DEB887; */
  --light-color: #99AEBB;
  /* --light-color: #afaeae; */
  --dark-color: #636363;
  --danger-color: rgb(216, 125, 125);
  --danger-color-variant: rgb(235, 101, 101);
}

html, body, #root {
  height: 100%;
}


body {
  -webkit-font-smoothing: antialised;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  height: 100vh;
  background-image: url('../img/floripa-map.png');
  background-size: cover;
  background-position: 50% 50%;
  filter: blur(3px);
  z-index: -1;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}

.icon-box {
  background: var(--light-color);
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vegan .icon-box, .icon-box--vegan {
  background: var(--primary-color);
}

.vegetarian .icon-box, .icon-box--vegetarian {
  background: var(--secondary-color);
}