.icon {
  background-color: var(--dark-color);
  mask-repeat: no-repeat;
  mask-size: cover;
  width: 20px;
  height: 20px;
  padding: 0;
}

.icon--leaf {
  mask-image: url('../img/leaf.svg');
  background-color: #fff;
  width: 18px;
  height: 18px;
}

.icon--heart {
  mask-image: url('../img/heart.svg');
  background-color: rgb(201, 82, 82);
  width: 17px;
  height: 17px;
}

.icon--pin {
  mask-image: url('../img/location.svg');
  width: 17px;
  height: 17px;
}

.icon--elipsis {
  mask-image: url('../img/elipsis.svg');
}

.icon--edit {
  mask-image: url('../img/edit.svg');
  background-color: #f2f2f2;
  width: 15px;
  height: 15px;
}

.icon--star {
  mask-image: url('../img/star.svg');
}

.icon--star-filled {
  mask-image: url('../img/star-filled.svg');
}

.icon--home {
  mask-image: url('../img/home.svg');
  background-color: #fdfdfd;
  width: 17px;
  height: 17px;
}

.icon--facebook {
  mask-image: url('../img/facebook.svg');
  background-color: #fdfdfd;
  width: 17px;
  height: 17px;
}

.icon--instagram {
  mask-image: url('../img/instagram.svg');
  background-color: #fdfdfd;
  width: 17px;
  height: 17px;
}

.icon--cross {
  mask-image: url('../img/cross.svg');
  width: 13px;
  height: 13px;
}

.icon--map {
  mask-image: url('../img/map.svg');
  width: 20px;
  height: 20px;
}

.icon--loading {
  mask-image: url('../img/loading.svg');
  background-color: #fff;
  animation: load-spin 0.8s infinite linear;
}

@keyframes load-spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.icon.icon--dark {
  background-color: var(--dark-color)
}

.icon.icon--light {
  background-color: var(--light-color)
}

.icon.icon--text {
  background-color: var(--dark-color);
}

.icon.icon--bigger {
  width: 42px;
  height: 42px;
}

.icon--jump {
  animation: jump 0.6s ease-in-out;
}

.icon--jump-delay1 {
  animation: jumpInverseRotate 0.6s ease-in-out 0.1s;
}

.icon--jump-delay2 {
  animation: jump 0.6s ease-in-out 0.3s;
}

@keyframes jump {
  0%{
    position: relative;
    bottom: 0;
  }
  50%{
    position: relative;
    bottom: 10px;
    transform: rotate(-5deg);
  }
  100%{
    position: relative;
    bottom: 0;
    transform: rotate(0deg);
  }
}

@keyframes jumpInverseRotate {
  0%{
    position: relative;
    bottom: 0;
  }
  50%{
    position: relative;
    bottom: 10px;
    transform: rotate(10deg);
  }
  100%{
    position: relative;
    bottom: 0;
    transform: rotate(0deg);
  }
}