.popup--hidden {
  display: none
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}

.popup__bg--transparent {
  background-color: transparent;
  pointer-events: none;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
}

.popup__content {
  position: relative;
  pointer-events: all;
  padding: 40px;
  background: var(--box-color);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 80px 20px;
  overflow: hidden;
  width: 450px;
  max-height: calc(100vh - 30px);
  max-width: calc(100vw - 45px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__content--large {
  width: auto;
  overflow-y: scroll;
}

.popup__content--slide-down {
  position: relative;
  left: calc(50vw - 225px);
  visibility: hidden;
  animation: slideDown 0.6s 1s forwards;
}
  
@keyframes slideDown {
  0%{
    top: -100px;
    visibility: visible;
  }
  100% {
    top: 0;
    visibility: visible;
  }
}

.popup__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.7;
}

.popup__close-btn:focus {
  outline: 1.5px solid var(--dark-color);
}

.popup__close-btn:active {
  outline: none;
}

.popup__content::-webkit-scrollbar {
  width: 5px;
  position: relative;
  right: 5px;
}

.popup__content::-webkit-scrollbar-track {
  background: transparent;
}

.popup__content::-webkit-scrollbar-thumb {
  background: var(--light-color-variant);
  border-radius: 4px;
}

@media(max-width: 1000px) {
  .popup__bg:after {
    content: '';
    position: absolute;
    top: calc(100vh - 0.5px);
    left: 0;
    height: 20vh;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
  }
}