.popup--hidden {
  display: none
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}

.popup__content {
  position: relative;
}

.popup__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
}

.popup__close-btn:focus {
  outline: 1.5px solid var(--dark-color);
}

.popup__close-btn:active {
  outline: none;
}

.popup__content *::-webkit-scrollbar {
  width: 5px;
}

.popup__content *::-webkit-scrollbar-track {
  background: transparent;
}

.popup__content *::-webkit-scrollbar-thumb {
  background: var(--light-color-variant);
  border-radius: 4px;
}

@media(max-width: 1000px) {
  .popup__bg:after {
    content: '';
    position: absolute;
    top: calc(100vh - 0.5px);
    left: 0;
    height: 20vh;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
  }
}