aside {
  width: 370px;
  min-height: calc(100vh - 120px);
  background: #fdfdfd;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px 20px 0 20px;
  border: 2px solid var(--dark-color);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

aside .logo {
  display: flex;
}

aside h1 {
  color: var(--primary-color);
  font-family: 'Atma';
  font-weight: 900;
  font-size: 3em;
  margin-left: 15px;
}

aside h1 span {
  color: var(--secondary-color);
}

aside .legend {
  margin-top: 20px;
}

aside .icon-info {
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: 0.9em;
  color: var(--dark-color);
  margin-top: 15px;
  border-bottom-left-radius: 6px;
  padding-right: 8px;
  border-bottom: 2px solid var(--primary-color);  
}

aside .vegan.icon-info {
  border-color: var(--primary-color);
}

aside .vegetarian.icon-info {
  border-color: var(--secondary-color);
}

aside .icon-info .icon-box {
  margin-right: 5px;
}

aside button {
  background-color: var(--primary-color);
  color: #f2f2f2;
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

aside button.login-btn {
  background-color: #2258BD;
}

aside p {
  font-size: 0.9em;
  color: var(--dark-color);
  margin-top: 10px;
}

aside .foot-message {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 20px;
  background-color: var(--dark-color);
  color: #fdfdfd;
  font-size: 0.85em;
  display: flex;
  justify-content: flex-end;
  align-self: center; 
}

aside .foot-message div {
  margin-left: 5px;
  margin-right: 5px;
  transform: scale(0.9);  
  background-color: #fdfdfddd;
}