.restaurant-card {
  background: #fdfdfd;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 16px;
  padding-bottom: 0;
  border: 2px solid var(--light-color);
  position: relative;
  list-style: none;
}

.restaurant-card--float {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 2;
  width: 350px;
}

.restaurant-card--invisible {
  display: none;
}

.restaurant-card__flags {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
}

.restaurant-card__flag {
  height: 20px;
  width: 15px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
}

.restaurant-card__flag + .restaurant-card__flag {
  margin-left: 5px;
}

.restaurant-card__flag--vegan {
  background-color: var(--primary-color);
}

.restaurant-card__flag--vegetarian {
  background-color: var(--secondary-color);
}

.restaurant-card__edit {
  position: absolute;
  left: calc(100% - 10px);
  top: -10px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background-color: var(--light-color);
  cursor: pointer;
  border-radius: 4px;
  /* transition: 0.4s; */
  padding: 5px;
}

.restaurant-card.vegan .restaurant-card__edit {
  background-color: var(--primary-color);
}

.restaurant-card.vegetarian .restaurant-card__edit {
  background-color: var(--secondary-color);
}

.restaurant-card:hover .restaurant-card__edit {
  opacity: 1;
  visibility: visible;
}

.restaurant-card__header {
  display: flex;
  align-items: center;
}

.restaurant-card__picture  {
  width: 54px;
  height: 54px;
  border-radius: 4px;
  margin-right: 10px;
}

.restaurant-card__picture--icon {
  background: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vegan .restaurant-card__picture--icon {
  background: var(--primary-color)
}

.vegetarian .restaurant-card__picture--icon {
  background: var(--secondary-color)
}

.restaurant-card .icon--leaf {
  height: 25px;
  width: 25px;
}

.restaurant-card__name {
  display: block;
  font-size: 16px;
  color: #333;
}

.restaurant-card__foods {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

.restaurant-card__body {
  margin: 10px 0;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.restaurant-card__links {
  display: flex;
  justify-content: flex-start;
}

.restaurant-card__like-info {
  color: var(--primary-color);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.restaurant-card__like-btn {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.restaurant-card__footer {
  background-color: var(--light-color);
  width: calc(100% + 32px);
  height: 44px;
  position: relative;
  left: -16px;
  padding-left: 16px;
  padding-top: 10px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  overflow: hidden;
}

.restaurant-card__address {
  color: #fdfdfdcb;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.restaurant-card__coords {
  position: absolute;
  right: 20px;
  top: 8px;
}

.restaurant-card__coords {
  color: var(--dark-color);
  background-color: rgb(223, 223, 223);
  border-radius: 4px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

.restaurant-card__coords:hover {
  width: 155px;
}

.restaurant-card__btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
  position: absolute;
  right: 4px;
  top: 4px;
}

.restaurant-card__btn-container .icon {
  margin-left: 5px;
}

.restaurant-card__link {
  background-color: var(--dark-color);
  height: 25px;
  width: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.restaurant-card__link:hover {
  background-color: var(--light-color);
}

.vegan header .icon-box {
  background: var(--primary-color);
}

.vegan {
  border-color: var(--primary-color);
}

.vegan a:hover,
.vegan footer {
  background-color: var(--primary-color);
}

.vegetarian header .icon-box {
  background: var(--secondary-color);
}

.vegetarian {
  border-color: var(--secondary-color);
}

.vegetarian a:hover,
.vegetarian footer {
  background-color: var(--secondary-color);
}