.signup {
  width: 670px;
  background: #fdfdfd;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 30px);
}

.signup__title {
  font-size: 24px;
  display: block;
  color: #333;
}

.signup__form {
  margin-top: 50px;
}

.signup form .input-block + .input-block,
.signup form .input-group + .input-block,
.signup form .input-group + .input-group {
  margin-top: 30px;
}

.signup form .input-group {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.signup form .input-group .input-block {
  margin-top: 0;
  width: 100%;
}

.signup form .input-group .input-block + .input-block {
  margin-left: 20px;
}

.signup form .input-block label {
  color: #acacac;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.signup form .input-block:not(.checkbox) input,
.signup form .input-block select {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}

.signup form .input-block.checkbox {
  display: flex;
  flex-direction: column;
  height: 34px;
  justify-content: space-between;
}

form .input-block.checkbox .check-option {
  display: flex;
  align-items: center;
  user-select: none;
}

form .input-block.checkbox .check-option + .check-option {
  margin-top: 5px;
}

.input-block.checkbox .check-option input {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  cursor: pointer;
}

.input-block.checkbox.error .check-option label {
  color: var(--danger-color);
}

.check-option label {
  cursor: pointer;
}

.signup form .input-block:not(.checkbox) input:focus,
.signup form .input-block select:focus  {
  border-color: #1ead5f;
  box-shadow: 0 2px 0 #1ead5e52;
  transition: 0.5s;
}

.signup form .input-block:not(.checkbox) input.error,
.signup form .input-block select.error,
.input-block.checkbox.error .check-option input  {
  border-color: var(--danger-color-variant);
  box-shadow: 0 2px 0 rgba(235, 101, 101, 0.3);
}

.signup form button[type="submit"] {
  width: 50%;
  border: 0;
  background-color:#28bd6b;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
  display: flex;
  justify-content: center;
}

.signup form button[type="submit"]:hover {
  background-color: #1ead5f;
}

.signup .btn-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  bottom: 0px;
}

.signup .get-coord {
  border: 0;
  background-color:var(--dark-color);
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
  opacity: 0.8;
}

.submit-block {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.submit-block .error-sign {
  width: 100%;
  color: #fff;
  border-radius: 4px;
  padding: 10px 10px;
  margin-left: 20px;
  background-color: var(--danger-color);
  position: relative;
  visibility: hidden;
}

.submit-block .error-sign.error-visible {
  visibility: visible;
  animation: error-shake 0.4s;
}

@keyframes error-shake {
  0%{
    left: 0;
  }
  35% {
    left: 10px;
  }
  80% {
    left: -8px;
  }
  100% {
    left: 0
  }
}