.toaster {
  position: fixed;
  bottom: 0;
  right: 20px;
  height: 80px;
  overflow: hidden;
  z-index: 100;
}

.toaster__container {
  position: relative;  
  animation: recoil 0.6s;
}

.toaster--hidden {
  display: none;
}

.toaster__container--toast {
  animation: toast 0.6s
}

@keyframes toast {
  0% {
    top: 60px;
    opacity: 0.2;
  }
  100%{
    top: 0;
    opacity: 1;
  }
}

@keyframes recoil {
  0% {
    top: 0;
    opacity: 1;
  }
  100%{
    top: 60px;
    opacity: 0.2;
  }
}