#app {
  width: 100%;
}

#app .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 370px;
  padding-top: 30px;
  /* padding: 60px 30px; */
}

#app main {
  flex: 1;
  margin-left: 30px;
  margin-bottom: 50px;
}

.app__header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1200px;
  z-index: 95;
  padding-left: 400px;
  padding-right: 40px;
}

.app__loading {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app__card-list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

.app__message {
  margin-top: 200px;
  text-align: center;
  color: var(--dark-color);
}

@media(min-width: 1200px) {
  .app__header {
    margin-left: calc(50vw - 600px);
  }
}

@media (max-width: 1000px) {
  #app .container {
    flex-direction: column;
    padding: 20px 30px;
    width: fit-content;
  }

  #app main {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  #app aside {
    width: 100%;
  }

  .app__header {
    top: auto;
    bottom: 0px;
    padding: 0 20px;
  }
}

@media (max-width: 640px) {
  #app .container {
    padding: 20px;
  }

  #app main ul {
    grid-template-columns: 1fr;
  }

  .app__header {
    padding: 0 10px;
  }
}