
.food-input-group {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 32px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.food-input-group--search {
  border: 2px solid var(--light-color);
  border-radius: 4px;
  background-color: #fff;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.food-input-group:not(.food-input-group--search).food-input-focused {
  border-color: #1ead5f;
  box-shadow: 0 2px 0 #1ead5e52;
  transition: 0.5s;
}

.food-input-group.error {
  border-color: var(--danger-color-variant);
  box-shadow: 0 2px 0 rgba(235, 101, 101, 0.3);
}

.typed-food {
  background-color: var(--dark-color);
  color: #fdfdfd;
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 23px;
  border-radius: 4px;
  position:relative;
  top: 5px;
  margin-right: 5px;
  opacity: 0.8;
}

.food-input-group--search .typed-food {
  top: 0;
}

.typing-group {
  position: relative;
  width: 100%;
  min-width: 120px;
}

.food-hint {
  position: absolute;
  top: 7.5px;
  left: 0;
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: rgb(180, 179, 179);
  z-index: 1;
}

.food-input-group--search .food-hint {
  top: 0;
}

.popup-bg > div form .input-block .food-input-group input {
  z-index: 5;
  background-color: transparent;
  border-bottom: 0;
  width: 100%;
}

#foods {
  width: 100%;
  height: 100%;
}

#foods::placeholder {
  opacity: 0.8;
}