.search-bar {
  display: flex;
  align-items: flex-start;
  width: calc(100% - 370px - 200px);
  max-width: calc(1200px - 370px - 90px);
  margin-right: 10px;
}

@media(max-width: 1200px) {
  .search-bar {
    left: 430px;
  }
}

@media(max-width: 1000px) {
  .search-bar {
    left: 30px;
    width: calc(100% - 60px);
    top: 630px;
  }

  .search-bar--map {
    width: calc(100% - 20px);
    right: 10px;
    top: 10px;
    left: auto;
  }
}

.search-bar__container {
  width: 100%;
  position: relative;
}

.search-bar__btn {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--box-color);
  color: var(--dark-color);
  border-radius: 34px 16px;
  margin-left: 10px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

@media(max-width: 374px) {
  .search-bar {
    top: 600px;
    flex-direction: column;
  }

  .search-bar__container {
    flex-direction: column-reverse;
  }

  .search-bar__options {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .search-bar__btn {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}