.map-button {
  min-width: 50px;
  height: 50px;
  background-color: var(--box-color);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: relative;
  margin-left: 80px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.map-button--hidden {
  visibility: hidden;
  opacity: 0;
}

.map-button__label {
  position: absolute;
  left: -45px;
  color: var(--dark-color);
  font-weight: bold;
}

@media(max-width: 1200px) {
  .map-button {
    margin-left: 20px;
  }

  .map-button__label {
    display: none;
  }
}

@media(max-width: 600px) {
  .map-button {
    margin-left: 20px;
  }
}